
  
  form {
    background-color: #35c535; 
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 2200px;
    display: flex;
    flex-direction: column;
    
  }
  
  form input[type="text"],
  form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  form button {
    background-color: #e0b8b8; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #FF6666; 
  }
  
  h2 {
    text-align: center;
    color: #4CAF50; 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }